.comics-filter {
    margin: 20px;
    display: inline-flex;
}

.sort-by-button {
    border: 1px solid black;
    cursor: pointer;
    color: white;
    background-color: #357235;
    font-size: 23px;
    width: 200px;
    height: 70px;
    margin: 10px;
    padding: 7px;
}

.sort-by-button:hover {
    background-color: #568756;
}

.sort-by-select {
    margin: 10px;
    padding: 10px;
    font-size: 22px;
    width: 140px;
    height: 70px;
}

.issue-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.comics-table {
    border: 1px solid black;
    /* width: 500px;
    height: 650px; */
}

.body-row {
    border: violet 1.75px solid;
    /* background: #081438; */
    background-color: #1f232d;
    color: white;
}

.body-row td, .header-row th {
    padding: 10px;
}

.favorite-issue {
    background-color: #223980;
}

.favorite-button {
    cursor: pointer;
    font-size: 30px;
}